attrdict
transformers==4.51.3
trl==0.16.0
wandb==0.18.3
deepspeed==0.15.4
accelerate
termcolor
open-clip-torch
clip-benchmark
einops
spacy
qwen_vl_utils
fairscale
icecream
supervision
groundingdino-py
openai
xgrammar
setuptools
requests>=2.32.2
tqdm>=4.66.3
rich>=13.8.0
flash_attn==2.7.2.post1